[report]
exclude_lines =
	pass
    def __repr__
    except [^ ]+ as ignore:
    if __name__ == .__main__.:
    if getattr\(typing, "TYPE_CHECKING", False\):
    if typing.TYPE_CHECKING:
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
fail_under = 100
show_missing = True
skip_covered = True

[run]
source =
	language_formatters_pre_commit_hooks/
