default_language_version:
  python: python3.14

repos:
- repo: https://github.com/pre-commit/pre-commit
  rev: v4.5.1
  hooks:
  - id: validate_manifest
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-docstring-first
  - id: check-json
    exclude: ^test-data/.*$
  - id: check-yaml
    exclude: ^test-data/.*$
  - id: debug-statements
  - id: end-of-file-fixer
    exclude: ^test-data/.*$
  - id: name-tests-test
  - id: pretty-format-json
    args: [--autofix, --indent, '4']
  - id: requirements-txt-fixer
    files: ^requirements-dev\.txt$
  - id: trailing-whitespace
    exclude: ^test-data/.*$
- repo: https://github.com/asottile/reorder_python_imports
  rev: v3.16.0
  hooks:
  - id: reorder-python-imports
    args:
    - --remove-import
    - from __future__ import absolute_import
    - --remove-import
    - from __future__ import print_function
    - --remove-import
    - from __future__ import unicode_literals
- repo: https://github.com/asottile/pyupgrade
  rev: v3.21.2
  hooks:
  - id: pyupgrade
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.13.0
  hooks:
  - id: pretty-format-yaml
    exclude: ^test-data/.*$
    args:
    - --autofix
- repo: https://github.com/ambv/black
  rev: 25.12.0
  hooks:
  - id: black
    args: [--config, .black.toml]
- repo: https://github.com/PyCQA/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.19.1
  hooks:
  - id: mypy
    exclude: ^(\.github/workflows/bump_external_releases\.py)$
    additional_dependencies:
    - types-requests
    - types-setuptools
- repo: https://github.com/PyCQA/bandit
  rev: 1.9.2
  hooks:
  - id: bandit
    exclude: ^tests/.*\.py$
