name: Publish on PyPI

on:
  workflow_dispatch: {}
  push:
    tags:
    - v*

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v6

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.14'
    - name: Install Python dependencies
      run: pip install setuptools wheel
    - name: Create a Wheel file and source distribution
      run: python setup.py sdist bdist_wheel
    - name: Publish distribution package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        password: ${{ secrets.pypi_password }}
